<h2 class="text-danger">
<ul class="nav nav-tabs">
  <li><a href="#home">Home</a></li>
  <li><a href="#chart">Chart</a></li>
  
</ul>

</h2>
<div class="text-danger">
    <form class="form-inline">
        <div class="row">
            <div class="col-xs-2 col-md-2 text-warning lead">
                <label>Format</label>
                <br/>
                <select class="form-control" ng-click="chart()" ng-model="format" ng-options="f for f in formats">
                    <option></option>
                </select>
            </div>
            <div class="col-xs-2 col-md-2 text-warning lead">
                <label>Genres</label>
                <br/>
                <select class="form-control" ng-model="currentChart" ng-options="f for f in charts">
                    <option></option>
                </select>
            </div>
            <div class="col-xs-3 col-md-3 text-warning lead inline">
                <label for="year">Grids num</label>
                <input type="number" min="5" max="20" ng-model="grids">
            </div>
            <div class="col-xs-3 col-md-3 text-warning lead inline">
                <label>Panel Type</label>
                <br/>
                <select class="form-control" ng-model="panelType" ng-options="f for f in panels">
                    <option></option>
                </select>
            </div>
            <div class="col-xs-2 col-md-2 text-warning lead">
                <br/>
                <button class="btn btn-success" ng-click="addChart(currentChart)">Add Chart </button>
            </div>
           
           
        </div>
         <span ng-if="errors"> <alert type="{{alert.type}}" close="closeAlert(0)">{{alert.msg}}</alert></span>
    </form>
    <br/>
    <div ng-repeat="x in addCharts track by $index">
    	
        <div class="panel panel-{{chartPanels[$index]}}  " >
            <div class="panel-heading">
                <h3 class="panel-title">{{x.options.title}}{{"          "}}{{x.type}}<button type="button" ng-click="deleteChart($index)" class="close" data-dismiss="modal" aria-hidden="false">×</button></h3>
            </div>
            <div class="panel-body">

                <div id="chart_div"   google-chart chart="x" style="{{cssStyle}}"  ng-drop class="text-warning"></div>
            </div>
        </div>
       
    </div>
</div>
 

