<ul class="nav nav-tabs">
    <li>
        <h2 class="text-success"><a href="#home">Home</a></h2></li>
</ul>
<div class="jumbotron text-success">
    <h1 class="text-success">{{test.hits.hits[0]._source.Title}}</h1>
    <div class="row">
        <div class="col-xs-4 col-md-4 text-warning lead">
            <div class="text-success">Watch Link Here Coming Soon</div>
            <div><a href="{{imdblink}}"><span class="label label-info">IMDB LINK </span></a></div>
            <div><a href="https://www.youtube.com/results?search_query={{test.hits.hits[0]._source.Title}}+fragman"><span class="label label-info">Fragman</span></a></div>
            <p>
                <div>Director : {{test.hits.hits[0]._source.Director[0]}}</div>
                <div>Year : {{test.hits.hits[0]._source.Year}}</div>
                <div>Rating : {{test.hits.hits[0]._source.Rating}}</div>
                <div>Runtime : {{test.hits.hits[0]._source.Runtime}}</div>
                <div>Genres: <span ng-repeat="n in test.hits.hits[0]._source.Genre">{{n}},</span> </div>
                <div>Relaesed: {{test.hits.hits[0]._source.Released}}</div>
                <div ng-repeat="n in test.hits.hits[0]._source.Director">Directors : {{n}}</div>
                <div>Writers: <span ng-repeat="n in test.hits.hits[0]._source.Writer"> {{n}}, </span></div>
                <div>Cats: <span ng-repeat="n in test.hits.hits[0]._source.Cast">{{n}}, </span></div>
                <div>Metacritics :<span ng-repeat="n in test.hits.hits[0]._source.Metacritic">  {{n}},</span></div>
                <div>Imdb Rating : {{test.hits.hits[0]._source.imdbVotes}}</div>
                <div>Imdb Votes : {{test.hits.hits[0]._source.imdbRating}}</div>
                <div>Country: {{test.hits.hits[0]._source.Country}}</div>
                <blockquote>
                    <p class="text-info">{{test.hits.hits[0]._source.FullPlot}}</p>
                    <small><cite title="test.hits.hits[0]._source.Language">{{test.hits.hits[0]._source.Language}}</cite></small>
                </blockquote>
            </p>
        </div>
        <div class="col-xs-4 col-md-4">
            <div ng-if="test.hits.hits[0]._source.Plot"><img src="{{test.hits.hits[0]._source.Plot}}" height="452" width="442"></div>
            <div ng-if="!test.hits.hits[0]._source.Plot"> <img src="no.jpg" height="452" width="442"></div>
        </div>
    </div>
</div>
