<h2 class="text-danger">
<ul class="nav nav-tabs">
  <li><a aria-expanded="true" href="#home">Home</a></li>
  <li><a aria-expanded="false" href="#chart">Chart</a></li>
  
</ul>

</h2>
<h2 class="text-danger">Films List</h2>
<form class="form-inline">
    <div class="form-group">
        <label for="post" class="text-danger">Search a Film</label>
        <input type="text" ng-change="saveName()" class="form-control" placeholder="Film Informations" ng-model="filmName" typeahead-wait-ms="30" typeahead="state for state in states | filter:$viewValue | limitTo:8">
    </div>
    <button type="submit" class="btn btn-default" ng-click="saveName()">Search</button>
</form>
<div class="row">
    <div class="col-xs-8 col-md-8">
        <div class="text-warning">{{searchText}} </div>
        <h1>{{noResult}}</h1>
        <table ng-if="!test.hits.total==0" class="table table-condensed table-responsive table-striped ">
            <thead>
                <tr class="text-danger">
                    <th>
                        Film Name
                    </th>
                    <th>
                        Film Director
                    </th>
                    <th>
                        Film Point
                    </th>
                    <th>
                        Film Minutes
                    </th>
                    <th>
                        Film Year
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in test.hits.hits">
                    <td>
                        <a href="#/detail/{{n._source.ID}}" ng-click="sendFilm(n._source.ID)">{{n._source.Title}}</a>
                    </td>
                    <td class="text-warning">
                        <span ng-repeat="d in n._source.Director">{{d}}</span>
                    </td>
                    <td class="text-warning">
                        {{n._source.imdbVotes}}
                    </td>
                    <td class="text-warning">
                        {{n._source.Runtime}}
                    </td>
                    <td class="text-warning">
                        {{n._source.Year}}
                    </td>
            </tbody>
        </table>
        <ul class="pager">
            <li><a style="cursor: pointer;" ng-click="prevPage()">Previous{{searchText2}}{{isFilterText}}</a></li>
            <li><a style="cursor: pointer;" ng-click="nextPage()">Next{{searchText2}}{{isFilterText}}</a></li>
        </ul>
        <div class="progress">
            <div class="progress-bar" style="width: {{progress}}%;"></div>
        </div>
        <div align="center">{{pageNum}}</div>
        <div>
            <pagination total-items="bigTotalItems" items-per-page="25" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-click="getPageNum(bigCurrentPage)"></pagination>
        </div>
    </div>
    <div class="col-xs-1 col-md-1 ">
    </div>
    <div class="col-xs-4 col-md-4">
        <div class="form-group text-danger">
            <label for="votes">Imdb Votes </label>
            <br/>
            <input type="number" min="0" max="10" ng-model="votes">
            <br/>
            <label for="year">Year </label>
            <br/>
            <input type="number" min="1900" max="2020" ng-model="year">
            <br/>
            <label for="sel1">Select Genre:</label>
            <select multiple class="form-control" ng-model="filter">
                <option>short</option>
                <option>comedy</option>
                <option>action</option>
                <option>drama</option>
                <option>documentary</option>
                <option>crime</option>
                <option>thriller</option>
                <option>western</option>
            </select>
            <br/>
            <button type="submit" class="btn btn-success" ng-click="filterFilms()">Filter</button>
        </div>
        <div class="text-danger" ng-if="filter||votes|| year">Filter Arguments: <span>Votes: {{votes}} ,Year :{{year}} ,Genres:<span ng-repeat="x in filter">{{ x }},</span></span>
        </div>
    </div>
